# ======================
# Node Modules
# ======================
node_modules/
client/node_modules/
server/node_modules/

# ======================
# Environment Variables
# ======================
.env*
!.env.example
client/.env*
frontend/.env*
backend/.env*
server/.env*

# ======================
# Build / Output Folders
# ======================
dist/
build/
client/dist/
server/dist/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# OS / Editor Files
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Misc
# ======================
coverage/
